In [1]:
%matplotlib inline
#from pycocotools.coco import COCO
import numpy as np
import skimage.io as io
import matplotlib.pyplot as plt
import pylab
pylab.rcParams['figure.figsize'] = (8.0, 10.0)

In [2]:
import random
import pandas as pd
import shutil
import os

In [3]:
dataDir='/Users/isaacchristian/Desktop/Princeton/RESEARCH/CANS/'
dataType='val2017'
annFile='{}/annotations/instances_{}.json'.format(dataDir,dataType)

In [4]:
# initialize COCO api for instance annotations
coco=COCO(annFile)

NameError: name 'COCO' is not defined

In [ ]:
# display COCO categories and supercategories
cats = coco.loadCats(coco.getCatIds())
nms=[cat['name'] for cat in cats]
print('COCO categories: \n{}\n'.format(' '.join(nms)))

nms = set([cat['supercategory'] for cat in cats])
print('COCO supercategories: \n{}'.format(' '.join(nms)))

# Begin

In [6]:
## SET SEED ###

In [9]:
random.seed(10)

# Create stim list

In [1]:
%matplotlib inline
#from pycocotools.coco import COCO
import numpy as np
import skimage.io as io
import matplotlib.pyplot as plt
import pylab
pylab.rcParams['figure.figsize'] = (8.0, 10.0)

In [2]:
import random
import pandas as pd
import shutil
import os

In [3]:
dataDir='/Users/isaacchristian/Desktop/Princeton/RESEARCH/CANS/study_data/'
# used this file for subs 1-6 # *** sub13 contains extra 8 capgaze 
master_file = 'capgaze_master_n1238of1629.csv'
# not sure about this one 
master_file = 'train2017_n700of4866sample_4-4-23-PART4.csv'
# used this file (i think) for subjects 7-13
#master_file = 'train2017_n1100of4866sample_3-6-23-PART4.csv'
## used this ffile for sub 11-17. However, removed some of subject 17 train2017 and inserted 
# the pics from capgaze that sub004 failed to caption
master_file = 'train2017_n2500of4866sample_sub11-17.csv'

# used 800/1584 from the below file for subjects 14-17# 
#master_file = 'train2017_1584of4866sample_3-19-23-PART4.csv'
# used this file for final three subjects 
master_file = 'val2017_n600.csv'

img_loc = '/Users/isaacchristian/Desktop/Princeton/RESEARCH/CANS/study_data/train2017_coco_4866/'
directory_prefix = 'final_stim_list'
sav_dir = '/Users/isaacchristian/Desktop/Princeton/RESEARCH/CANS/study_data/' + directory_prefix

# folder #
fold = 'train2017_coco_4866/'
fold = 'val2017/'

In [6]:
"""
Documentation:
- 6 subjects ranging from 30-1220 using 'capgaze_master_n1238of1629.csv'
-sub-004 only completed 3 runs, so 120 images from 'capgaze_master_n1238of1629.csv'
"""

"\nDocumentation:\n- 6 subjects ranging from 30-1220 using 'capgaze_master_n1238of1629.csv'\n-sub-004 only completed 3 runs, so 120 images from 'capgaze_master_n1238of1629.csv'\n"

In [7]:
# 
sub_list = np.arange(18,21)
list_len = 200
dat = pd.read_csv(dataDir+master_file)

In [8]:

for ind, sub in enumerate(sub_list):
    list_len = 200
    start = ind*list_len
    end = ind*list_len+list_len
    sub_csv = dat.iloc[start:end,:]
    clean_sub_csv = fold + sub_csv['imageLocation']
    #print(len(sub_csv))
    print(start, end, sub)
    #assert len(clean_sub_csv) == list_len
    clean_sub_csv.to_csv(sav_dir+"/sub-" + str(sub).zfill(3)+'_stimuli.csv', header=True, index=False)

0 200 18
200 400 19
400 600 20

200    train2017_coco_4866/000000029020.jpg
201    train2017_coco_4866/000000029104.jpg
202    train2017_coco_4866/000000029942.jpg
203    train2017_coco_4866/000000030340.jpg
204    train2017_coco_4866/000000030437.jpg
                       ...
395    train2017_coco_4866/000000057645.jpg
396    train2017_coco_4866/000000057753.jpg
397    train2017_coco_4866/000000058035.jpg
398    train2017_coco_4866/000000058141.jpg
399    train2017_coco_4866/000000058179.jpg
Name: file_name, Length: 200, dtype: object

# Master List #

In [15]:
n=20

In [26]:
master_list = []
for sub in range(n):
    dat = pd.read_csv(sav_dir+"/sub-" + str(sub).zfill(3)+'_stimuli.csv')
    master_list.append(np.asarray(dat['imageLocation']))
merged = np.hstack((np.asarray(master_list)))

/var/folders/3n/pc76sg6108n3ygcr3f1dy8kh0000gn/T/ipykernel_42529/1746896336.py:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  merged = np.hstack((np.asarray(master_list)))

In [30]:
df = pd.DataFrame(merged)
df.to_csv(sav_dir+'master_stim_list.csv',index=False)

In [5]:
# check loop # 
for beg_img in range(int(start_img / img_per_sub),int(end_img / img_per_sub)):
    print(f'sub is {beg_img+1}')

sub is 1
sub is 2
sub is 3
sub is 4
sub is 5
sub is 6

In [7]:
dat = pd.read_csv(dataDir+master_file)

In [8]:
dat

          ID         file_name
0        109  000000000109.jpg
1       1523  000000001523.jpg
2       3000  000000003000.jpg
3       3276  000000003276.jpg
4       3521  000000003521.jpg
...      ...               ...
1233  579419  000000579419.jpg
1234  579899  000000579899.jpg
1235  580082  000000580082.jpg
1236  580507  000000580507.jpg
1237  581310  000000581310.jpg

[1238 rows x 2 columns]

In [9]:
for beg_img in range(int(start_img / img_per_sub),int(end_img / img_per_sub)):
    first_img = beg_img*img_per_sub + start_img
    end_img = first_img+img_per_sub
    df = pd.DataFrame({"imageLocation": 'train_capgaze/' + dat.iloc[first_img:end_img,1]})
    assert len(df) == img_per_sub
    df.to_csv(sav_dir+"/sub-" + str(beg_img+1).zfill(3)+'_stimuli.csv', header=True, index=False)
    
    print("subject", beg_img+1)
    print(f'beginning is {first_img}')
    print(f'end is {end_img}')

subject 1
beginning is 30
end is 230
subject 2
beginning is 230
end is 430
subject 3
beginning is 430
end is 630
subject 4
beginning is 630
end is 830
subject 5
beginning is 830
end is 1030
subject 6
beginning is 1030
end is 1230

In [ ]:
"""
Documentation:
- sub-000 is 50 images (my captioning)
- sub-001 to sub-002: 50-450

"""

In [46]:
beg_img

1

In [48]:
np.arange(start_img, end_img, img_per_sub)

array([ 50, 250])

In [ ]:
np.arange(start_img, end_img, img_per_sub)

# All stim #

In [4]:
dataDir='/Users/isaacchristian/Desktop/Princeton/RESEARCH/CANS/study_data/'
# used this file for subs 1-6 # *** sub13 contains extra 8 capgaze 
directory_prefix = 'final_stim_list'

In [29]:
x = pd.DataFrame()
for sub in range(1,21):
    print(f"sub-{sub:03d}_stimuli.csv")
    new_sub = pd.read_csv(f'{dataDir}{directory_prefix}/sub-{sub:03d}_stimuli.csv')
    x = pd.concat((x,new_sub),axis=0)

sub-001_stimuli.csv
sub-002_stimuli.csv
sub-003_stimuli.csv
sub-004_stimuli.csv
sub-005_stimuli.csv
sub-006_stimuli.csv
sub-007_stimuli.csv
sub-008_stimuli.csv
sub-009_stimuli.csv
sub-010_stimuli.csv
sub-011_stimuli.csv
sub-012_stimuli.csv
sub-013_stimuli.csv
sub-014_stimuli.csv
sub-015_stimuli.csv
sub-016_stimuli.csv
sub-017_stimuli.csv
sub-018_stimuli.csv
sub-019_stimuli.csv
sub-020_stimuli.csv

In [35]:
x

                      imageLocation
0    train_capgaze/000000017883.jpg
1    train_capgaze/000000017938.jpg
2    train_capgaze/000000017962.jpg
3    train_capgaze/000000018020.jpg
4    train_capgaze/000000020702.jpg
..                              ...
195        val2017/000000513567.jpg
196        val2017/000000207844.jpg
197        val2017/000000157601.jpg
198        val2017/000000433204.jpg
199        val2017/000000025096.jpg

[4000 rows x 1 columns]

In [33]:
x.to_csv(dataDir+'master_stim_list-4-25.csv')

In [32]:
dataDir

'/Users/isaacchristian/Desktop/Princeton/RESEARCH/CANS/study_data/'